Downloading Precompiled Jars

    {{{./jadt_license.html}\<\< Licensing }} | {{{./why_adt.html} Why use Algebraic DataTypes(ADTs)? \>\>}}


    You can download jADT from its {{{https://github.com/JamesIry/jADT/downloads}Github download page}}. 
    
    At minimum, you'll need jADT-core-${projectVersion}.jar.
    
    If you're using Apache Ant you'll want jADT-ant-${projectVersion}.jar.
    
    Source and javadoc jars may help in debugging issues, but probably aren't necessary for most people.
    
    If you want to develop something on top of jADT-core, e.g. a plugin for another build system, you may also acquire the core library from Maven central.
    
+----
<dependencies>
    <dependency>
        <groupId>com.pogofish.jadt</groupId>
        <artifactId>jADT-core</artifactId>
        <version>${projectVersion}</version>
    </dependency>
</dependencies>
+----

Building From Source

    Get familiar with {{{https://help.github.com/categories/54/articles}Github}} and {{{http://maven.apache.org/guides/getting-started/index.html}Maven}} then {{{https://github.com/jamesiry/jADT/}fork}} and build.

+---
    cd myprojectworkspace
    
    git clone https://github.com/JamesIry/jADT.git jADT  # to fork into myprojectworkspace/jADT
    
    cd jADT
    
    mvn compile # to compile into myprojectworkspace/jADT/jADT-core/target/classes 
                # and myprojectworkspace/jADT/jADT-ant/target/classes
                
    mvn test    # to run the tests
    
    mvn package # to create the jars in myprojectworkspace/jADT/jADT-core/target
                # and myprojectworkspace/jADT/jADT-ant/target

    mvn install # to install the jars in your local maven repository
                    
    mvn site:site site:stage # to create all this pretty documentation 
                             # at myprojectworkspace/jADT/target/staging/index.html
+---

    {{{./jadt_license.html}\<\< Licensing }} | {{{./why_adt.html} Why use Algebraic DataTypes(ADTs)? \>\>}}
