Generating Java from the Shell

    {{{./visitor_variations.html}\<\< Visitor Variations }} | {{{./ant_generation.html} Generating Java from Apache Ant \>\>}}

    To use {{{./index.html}jADT}} to generate Java from the shell use you'll need to {{{./download.html}download}} the executable jar jADT-core-${projectVersion}.jar.

----
    ["path to java"]java -jar "path to jADT-core-${projectVersion}.jar" "path of input file" "base directory for output"
----

    If for some inexplicable reason that doesn't work for you, then
    
----
    ["path to java"]java -cp "path to jADT-core-${projectVersion}.jar" com.pogofish.jadt.jADT "path of input file" "base directory for output"
----

    {{{./visitor_variations.html}\<\< Visitor Variations }} | {{{./ant_generation.html} Generating Java from Apache Ant \>\>}}
    