Generating Java from the Shell

    {{{./comments.html}\<\< Comments }} | {{{./maven_generation.html} Generating Java from Apache Maven \>\>}}

    To use {{{./index.html}jADT}} to generate Java from the shell use you'll need to {{{./download.html}download}} the executable jar jADT-core-${projectVersion}.jar.

    java -jar <[path to /jADT-core-${projectVersion}.jar]> <[source path]> <[path of directory to receive the output]>, e.g.

    The source path can be either a directory with files ending in .jadt or it can be an individual file.

----    
    java -jar lib/jADT-core-${projectVersion}.jar src/main/jadt/ target/generated-sources/jadt
       
     or
        
    java -jar lib/jADT-core-${projectVersion}.jar src/main/jadt/MyStuff.jadt target/generated-sources/jadt
----

    If for some inexplicable reason that doesn't work for you, then
    
    java -cp <[path to /jADT-core-${projectVersion}.jar]> com.pogofish.jadt.JADT <[source path]> <[path of directory to receive the output]>, e.g.

----    
    java -cp lib/jADT-core-${projectVersion}.jar com.pogofish.jadt.JADT src/main/jadt/ target/generated-sources/jadt
----

    {{{./comments.html}\<\< Comments }} | {{{./maven_generation.html} Generating Java from Apache Maven \>\>}}
    