/* github fork me ribbon, put it on the top right */
#bannerRight {
  position:absolute;
  top:0px;
  right:0px;
}

/* link to blog, give a little bit of padding to make room for the github forkme ribbon */
li.pull-right {
  padding-right:50px;
}
